@model ConfirmationModel
@using Naviam.WebUI.Models
@using Naviam.WebUI.Resources
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}
@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    <section class="signup">
        <fieldset>
            <div>
                @Html.TextBoxFor(m => m.ApproveCode, new { placeholder = "Please enter your confirmation code here" })
                @Html.ValidationMessageFor(m => m.ApproveCode)
            </div>
            <div>
            <p style="float:left;"><button type="submit">Ok</button></p>
            <p style="float:left;"><button type="button" onclick="$.postErr('@Url.Action("ConfirmationMail", "Account", Model)')">Test</button></p>
            </div>
        </fieldset>
    </section>
    <div style="clear: left">
    </div>
}
