@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<h2>Confirmation</h2>

@using (Html.BeginForm()) {
    <section class="signup">
        <fieldset>
            <div>
@*                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Please enter your email here", type = "email", autofocus="" })
                @Html.ValidationMessageFor(m => m.UserName)*@
            </div>
        </fieldset>
    </section>
    <div style="clear: left"></div>
}

