@model LogOnModel
@using Naviam.WebUI.Models
@using Naviam.WebUI.Resources
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<h2>Confirmation</h2>
@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm())
{
    <section class="signup">
        <fieldset>
            <div>
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Please enter your confirmation code here" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <p><button type="submit">Ok</button></p>
        </fieldset>
    </section>
    <div style="clear: left"></div>
}

