body {
    font-size: large;
    background-color: #615d5d;
}

ul {
	list-style-type: none;
}
	
section.menu, article {
    width: 570px;
    margin-left: auto;
    margin-right: auto; 
}

section.menu {
    height: 60px;
    margin-top: 50px;
    font-size: larger; }
  section.menu h1 {
      float: left;
      padding-top: 4px;
      margin-left: 20px;
      font-weight: bolder;
      font-size: xx-large;
      color: #F7F7F7; }
  section.menu nav {
    padding-right: 20px; }
    section.menu nav ul {
      margin: 10px 0 0;
      float: right;
      position: relative; }
      section.menu nav ul li {
        float: left;}
        section.menu nav ul li a 
        {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            -webkit-border-top-left-radius: 6px;
            -webkit-border-top-right-radius: 6px;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-topright: 6px;
            -moz-box-shadow: 0 0.1em 0.4em #F7F7FF;
	        -webkit-box-shadow: 0 0.1em 0.6em #F7F7FF;
            display: block;
            padding: 4px 8px 4px 8px;
            margin: 9px 10px 0px 6px;
            font-weight: 800;
            color: #F7F7F7;
            text-decoration: none;
        }
          section.menu nav ul li a:hover {
            color: #ea4c88;
            background-color: #F7F7F7; }
          section.menu nav ul li a:active {
            color: #ea4c88;
            background-color: #F7F7F7; }
          section.menu nav ul li a.selected {
            color: #ea4c88;
            background-color: #F7F7F7; }

section.login, section.signup {
    height: 270px;
    background-color: #F7F7F7;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -moz-box-shadow: 0 0.1em 0.4em #F7F7FF;
	-webkit-box-shadow: 0 0.1em 0.6em #F7F7FF;
}

fieldset 
{
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 530px;
}

section.login fieldset {
    float: right;
}

section.login fieldset legend {
    font-size: x-large;
    color: #ea4c88;
}

section.openid 
{
    margin-top: 20px;
    width: 870px;
    padding-left: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

fieldset input[type=text], fieldset input[type=password], fieldset input[type=email] {
    width: 510px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
}

hr {
    color: #ea4c88;
    line-height: 2px;
}

div.rememberme {
    float: right;
    padding-right: 20px;
    position: relative;
}

button {
	display: block;
	font: normal 1.2em "Helvetica Neue", helvetica, sans-serif;
	background: #ea4c88;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: none;
	padding: 8px 10px;
	color: #fff;
	cursor: pointer;
	}	
button:hover,
button:focus {
	text-decoration: none;
	background-color: #df3e7b;
	}
button:active {
	text-decoration: none;
	background-color: #c22b65;
	}

input[type=text], input[type=password], input[type=email], input[type=checkbox], select, textarea {
    font-size: larger;border: 1px solid #b6d7a8;padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus, textarea:focus {
    background-color:#fffad9;border: 1px solid #ffd966;outline: none;
}
input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, select:hover, textarea:hover {
    border: 1px solid #ffd966
}

.input-validation-error
{
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee !important;
}
