body {
  padding: 0;
  margin: 0; }

nav ul li {
  float: left; }
  nav ul li a {
    font-weight: bold;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0 5pt; }

ul {
  list-style-type: none; }

header {
  background-color: #615d5d;
  height: 26px; }
  header nav ul li a {
    color: white;
    text-decoration: none;
    border-top: 2px solid transparent;
    border-bottom: 5px solid transparent; }
    header nav ul li a:hover {
      background-color: #b5b5b5; }
    header nav ul li a:active {
      border-top: 2px solid #ea4c88; }
    header nav ul li a.selected {
      border-top: 2px solid #ea4c88; }
  header nav.left {
    float: left;
    margin-left: 100px; }
  header nav.right {
    float: right;
    margin-right: 100px; }

footer {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; }

section.menu {
  height: 60px;
  background-color: #f7f7f7;
  border-top: 1px solid white;
  padding-top: 3px;
  font-size: larger; }
  section.menu h1 {
    float: left;
    padding-top: 4px;
    padding-left: 100px;
    font-size: xx-large;
    color: #ea4c88; }
  section.menu nav {
    position: relative;
    padding-right: 90px; }
    section.menu nav ul {
      margin: 10px 0 0;
      float: right;
      position: relative; }
      section.menu nav ul li {
        float: left;
        margin: 0 10px 0 0; }
        section.menu nav ul li a {
          border-radius: 6px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          display: block;
          padding: 4px 4px;
          font-weight: 200;
          color: #ea4c88;
          text-decoration: none; }
          section.menu nav ul li a:hover {
            color: white;
            background-color: #ea4c88; }
          section.menu nav ul li a:active {
            color: white;
            background-color: #ea4c88; }
          section.menu nav ul li a.selected {
            color: white;
            background-color: #ea4c88; }

section.main {
  padding-left: 100px; }
  section.main article {
    float: left; }
  section.main aside.left {
    float: left; }
  section.main aside.right {
    float: right; }

/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
  background: #ea4c88 0 0;
  border: 1px solid #ea4c88;
  -background: #ff98ff; }
  #accordion h2 {
    background: #ea4c88;
    margin: 0;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #fff;
    border-bottom: 1px solid #ea4c88;
    cursor: pointer; }
    #accordion h2.current {
      cursor: default;
      background-color: #fff; }
  #accordion.pane {
    border: 1px solid #fff;
    border-width: 0 2px;
    display: none;
    height: 180px;
    padding: 15px;
    color: #fff;
    font-size: 12px; }
    #accordion.pane h3 {
      font-weight: normal;
      margin: 0 0 -5px 0;
      font-size: 16px;
      color: #999; }

/* Styles for validation helpers-----------------------------------------------------------*/
.field-validation-error {
  color: red !important; }

.input-validation-error {
  border: 1px solid red !important;
  background-color: #ffeeee !important; }

.validation-summary-errors {
  font-weight: bold;
  color: red; }

/*Paging----------*/
.paging a {
  padding: 0.5em; }
.paging a.selected {
  background-color: Black;
  color: White; }

.grid {
  border-collapse: collapse;
  background: #ECECD8;
  border: 1px solid #714734; }
  .grid th {
    color: #FBFBC7;
    background: #b5451c;
    border-bottom-width: 0;
    cursor: pointer;
    border: 1px solid #854324;
    padding: .3em .6em; }
    .grid th:hover {
      background-color: #c5551c; }
  .grid tr:nth-child(even) {
    background: white; }
  .grid tr.selected {
    background-color: #EA9959;
    color: white; }
  .grid tr:hover {
    background-color: #c5551c;
    color: white;
    cursor: pointer; }
  .grid tr td {
    border-color: #DDD;
    padding: .25em .6em;
    border-style: solid;
    border-right-width: 1px; }

.hidden {
  display: none; }

a.category_picker {
  background: url("images/btn_categorypicker.png") no-repeat scroll left top transparent;
  height: 20px;
  position: absolute;
  width: 20px;
  right: 0px;
  top: 2px; }
  a.category_picker.active {
    background-position: 0 -20px; }

/* dateTime picker
#calBorder table{
	background-color:white;
	width:200px;
	padding:0;
	margin-bottom:0;
	th, td, caption {padding:0 0 0 0;}
	tbody tr:nth-child(even) td, tbody tr.even td {
		background-color:white;
	}
}*/
/* the overlayed element */
.overlay, .overlaywoshadow {
  /* must be initially hidden */
  display: none;
  /* place overlay on top of other elements */
  z-index: 10000;
  /* styling */
  background-color: white;
  padding: 30px 5px 5px 5px;
  width: 740px;
  /* for modern browsers use semi-transparent color on the border. nice! */
  border: 1px solid rgba(82, 82, 82, 0.698);
  /* CSS3 styling for latest browsers */
  -moz-box-shadow: 0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px; }
  .overlay a.close, .overlaywoshadow a.close {
    background: url("images/close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 35px;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 35px; }

.overlaywoshadow {
  -moz-box-shadow: 0 0 0 0 #000;
  -webkit-box-shadow: 0 0 0 #000; }

button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
  background-color: #5D689A;
  border-bottom: 0.2em solid #666666;
  border-width: 1px 1px 0.2em;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
  line-height: 1;
  padding: 0.3em 0.6em;
  text-shadow: 0 0 0.1em #222222; }
  button:disabled {
    color: black;
    background-color: gray;
    cursor: default; }

/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */
/* calendar root element */
#calroot {
  /* place on top of other elements. set a higher value if nessessary */
  z-index: 10000;
  margin-top: -1px;
  width: 198px;
  padding: 2px;
  background-color: #fff;
  font-size: 11px;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666; }

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {
  padding: 2px 0;
  height: 22px; }

#caltitle {
  font-size: 14px;
  color: #0150D1;
  float: left;
  text-align: center;
  width: 155px;
  line-height: 20px;
  text-shadow: 0 1px 0 #ddd;
  /* year/month selector */ }
  #caltitle select {
    font-size: 10px; }

#calnext, #calprev {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url("images/prev.gif") no-repeat scroll center center;
  float: left;
  cursor: pointer; }

#calnext {
  background-image: url("images/next.gif");
  float: right; }

#calprev.caldisabled, #calnext.caldisabled {
  visibility: hidden; }

/* names of the days */
#caldays {
  height: 14px;
  border-bottom: 1px solid #ddd; }
  #caldays span {
    display: block;
    float: left;
    width: 28px;
    text-align: center; }

/* container for weeks */
#calweeks {
  background-color: #fff;
  margin-top: 4px; }

/* single week */
.calweek {
  clear: left;
  height: 22px;
  /* single day */ }
  .calweek a {
    display: block;
    float: left;
    width: 27px;
    height: 20px;
    text-decoration: none;
    font-size: 11px;
    margin-left: 1px;
    text-align: center;
    line-height: 20px;
    color: #666;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /* different states */
    /* sunday */
    /* offmonth day */
    /* unselecteble day */ }
    .calweek a:hover, .calweek a.calfocus {
      background-color: #ddd; }
    .calweek a.calsunday {
      color: red; }
    .calweek a.caloff {
      color: #ccc; }
      .calweek a.caloff:hover {
        background-color: #f5f5fa; }
    .calweek a.caldisabled {
      background-color: #efefef !important;
      color: #ccc	!important;
      cursor: default; }

/* current day */
#calcurrent {
  background-color: #498CE2;
  color: #fff; }

/* today */
#caltoday {
  background-color: #333;
  color: #fff; }

/*autocomplete*/
.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999; }
  .ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0; }
  .ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /* 
    if width will be 100% horizontal scrollbar will apear 
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /* 
    it is very important, if line-height not setted or setted 
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden; }

.ac_loading {
  background: white url("indicator.gif") right center no-repeat; }

.ac_odd {
  background-color: #eee; }

.ac_over {
  background-color: #0A246A;
  color: white; }

.acc_menu .selected {
  background-color: #EA4C88;
  color: white; }

.width100 {
  width: 100%; }
