header {
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  clear: right;
  float: none; }

footer {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; }

nav {
  background-color: gray;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px; }
  nav ul {
    list-style-type: none; }
  nav li {
    float: left; }
    nav li a {
      font-weight: bold;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      padding: 0 5pt; }

/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
  background: gray 0 0;
  border: 1px solid gray;
  -background: white; }
  #accordion h2 {
    background: gray;
    margin: 0;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #fff;
    border-bottom: 1px solid gray;
    cursor: pointer; }
    #accordion h2.current {
      cursor: default;
      background-color: #fff; }
  #accordion.pane {
    border: 1px solid #fff;
    border-width: 0 2px;
    display: none;
    height: 180px;
    padding: 15px;
    color: #fff;
    font-size: 12px; }
    #accordion.pane h3 {
      font-weight: normal;
      margin: 0 0 -5px 0;
      font-size: 16px;
      color: #999; }

/* Styles for validation helpers-----------------------------------------------------------*/
.field-validation-error {
  color: red !important; }

.input-validation-error {
  border: 1px solid red !important;
  background-color: #ffeeee !important; }

.validation-summary-errors {
  font-weight: bold;
  color: red; }

/*Paging----------*/
.paging a {
  padding: 0.5em; }
.paging a.selected {
  background-color: Black;
  color: White; }

.trans_grid {
  border-collapse: collapse; }
  .trans_grid th {
    cursor: pointer;
    border: 1px solid #000; }
    .trans_grid th:hover {
      background-color: #ffe79c;
      border-color: #c98400; }
  .trans_grid tr.selected {
    border: 1px solid #000; }
  .trans_grid tr:hover td {
    background-color: #c0d2ad;
    cursor: pointer; }

.hidden {
  display: none; }

.width100 {
  width: 100%; }

a.category_picker {
  background: url("images/btn_categorypicker.png") no-repeat scroll left top transparent;
  height: 20px;
  position: absolute;
  width: 20px;
  right: 0px; }
  a.category_picker.active {
    background-position: 0 -20px; }

/* dateTime picker
#calBorder table{
	background-color:white;
	width:200px;
	padding:0;
	margin-bottom:0;
	th, td, caption {padding:0 0 0 0;}
	tbody tr:nth-child(even) td, tbody tr.even td {
		background-color:white;
	}
}*/
/* the overlayed element */
.overlay {
  /* must be initially hidden */
  display: none;
  /* place overlay on top of other elements */
  z-index: 10000;
  /* styling */
  background-color: white;
  padding: 5px;
  width: 675px;
  /* for modern browsers use semi-transparent color on the border. nice! */
  border: 1px solid rgba(82, 82, 82, 0.698);
  /* CSS3 styling for latest browsers */
  -moz-box-shadow: 0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }
  .overlay a.close {
    background: url("images/close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 35px;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 35px; }

button {
  -moz-border-radius: 10.2em 10.2em 10.2em 10.2em;
  -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
  background-color: #5D689A;
  border-bottom: 0.2em solid #666666;
  border-width: 1px 1px 0.2em;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
  line-height: 1;
  padding: 0.3em 0.6em;
  text-shadow: 0 0 0.1em #222222; }

/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */
/* calendar root element */
#calroot {
  /* place on top of other elements. set a higher value if nessessary */
  z-index: 10000;
  margin-top: -1px;
  width: 198px;
  padding: 2px;
  background-color: #fff;
  font-size: 11px;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666; }

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {
  padding: 2px 0;
  height: 22px; }

#caltitle {
  font-size: 14px;
  color: #0150D1;
  float: left;
  text-align: center;
  width: 155px;
  line-height: 20px;
  text-shadow: 0 1px 0 #ddd; }

#calnext, #calprev {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url(prev.gif) no-repeat scroll center center;
  float: left;
  cursor: pointer; }

#calnext {
  background-image: url(next.gif);
  float: right; }

#calprev.caldisabled, #calnext.caldisabled {
  visibility: hidden; }

/* year/month selector */
#caltitle select {
  font-size: 10px; }

/* names of the days */
#caldays {
  height: 14px;
  border-bottom: 1px solid #ddd; }

#caldays span {
  display: block;
  float: left;
  width: 28px;
  text-align: center; }

/* container for weeks */
#calweeks {
  background-color: #fff;
  margin-top: 4px; }

/* single week */
.calweek {
  clear: left;
  height: 22px; }

/* single day */
.calweek a {
  display: block;
  float: left;
  width: 27px;
  height: 20px;
  text-decoration: none;
  font-size: 11px;
  margin-left: 1px;
  text-align: center;
  line-height: 20px;
  color: #666;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

/* different states */
.calweek a:hover, .calfocus {
  background-color: #ddd; }

/* sunday */
a.calsun {
  color: red; }

/* offmonth day */
a.caloff {
  color: #ccc; }

a.caloff:hover {
  background-color: #f5f5fa; }

/* unselecteble day */
a.caldisabled {
  background-color: #efefef !important;
  color: #ccc	!important;
  cursor: default; }

/* current day */
#calcurrent {
  background-color: #498CE2;
  color: #fff; }

/* today */
#caltoday {
  background-color: #333;
  color: #fff; }
