$base-color: Gray;
$error-color: #ff0000;

@mixin rounded ($radius: 5px) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin shadow ($shadow: 90px, $color: rgba(0, 0, 0, 0.5)) {
	-moz-box-shadow: 0 0.1em 0.2em $color;
	-webkit-box-shadow: 0 0.1em 0.2em $color;
}

header {
  background-color: $base-color * 2;
  @include rounded(10px);
  clear:right;
  float:none;
}
footer {
  @include rounded(2px);
}

nav {
  background-color: $base-color;
  @include rounded(1px);
  ul { list-style-type: none; }
  li {
    float: left;
    a { font-weight: bold; border-left: 1px solid transparent; border-right: 1px solid transparent; padding: 0 5pt; }
  }
}

/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
	background:$base-color 0 0;
	border:1px solid $base-color;	
	-background:$base-color*2;
	h2 {
		background:$base-color;
		margin:0;
		padding:5px 15px;
		font-size:14px;
		font-weight:normal;
		border:1px solid #fff;
		border-bottom:1px solid $base-color;
		cursor:pointer;
		&.current {
			cursor:default;
			background-color:#fff;
		}		
	}
	&.pane {
		border:1px solid #fff;
		border-width:0 2px;
		display:none;
		height:180px;
		padding:15px;
		color:#fff;
		font-size:12px;
		h3 {
			font-weight:normal;
			margin:0 0 -5px 0;
			font-size:16px;
			color:#999;
		}
	}

}
/* Styles for validation helpers-----------------------------------------------------------*/
.field-validation-error
{
    color: $error-color !important;
}
.input-validation-error
{
    border: 1px solid $error-color !important;
    background-color: #ffeeee !important;
}
.validation-summary-errors
{
    font-weight: bold;
    color: $error-color;
}
/*Paging----------*/
.paging {
	a { padding: 0.5em; }
	a.selected { background-color: Black; color: White; }
}
.grid {
	border-collapse:collapse;
	th {
		cursor:pointer;
		border:1px solid #000;
		&:hover{
			background-color: #ffe79c;
			border-color: #c98400;
		}
	}
	tr {
		&.selected {
			border:1px solid #000;
		}
		&:hover {
			td{background-color:#c0d2ad;cursor:pointer;}
		}
	}
}
.hidden{
	display: none;
}
.width100{
	width:100%;
}
a.category_picker {
    background: url("images/btn_categorypicker.png") no-repeat scroll left top transparent;
    height: 20px;
    position: absolute;
    width: 20px;
	right: 0px;
	top: 2px;
	&.active {
		background-position: 0 -20px;
	}
}
/* dateTime picker
#calBorder table{
	background-color:white;
	width:200px;
	padding:0;
	margin-bottom:0;
	th, td, caption {padding:0 0 0 0;}
	tbody tr:nth-child(even) td, tbody tr.even td {
		background-color:white;
	}
}*/
/* the overlayed element */
.overlay, .overlaywoshadow {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:white;

	padding: 30px 5px 5px 5px;
	
	width:740px;	
	/* for modern browsers use semi-transparent color on the border. nice! */
	border:1px solid rgba(82, 82, 82, 0.698);

	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
	 @include rounded(8px);

	a.close {
		background:url("images/close.png") no-repeat scroll 0 0 transparent;
		cursor:pointer;
		height:35px;
		position:absolute;
		right:5px;
		top:2px;
		width:35px;
	}
}
.overlaywoshadow {
	-moz-box-shadow:0 0 0 0 #000;
	-webkit-box-shadow: 0 0 0 #000;	
}

button {
	 @include rounded();
	 @include shadow();
	background-color:#5D689A;
	border-bottom:0.2em solid #666666;
	border-width:1px 1px 0.2em;
	color:#FFFFFF;
	cursor:pointer;
	font-size:1em;
	line-height:1;
	padding:0.3em 0.6em;
	text-shadow:0 0 0.1em #222222;
	&:disabled {
		color: black;
		background-color:gray;
		cursor:default;
	}
}
/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

/* calendar root element */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:10000;
	
	margin-top:-1px;
	width:198px;
	padding:2px;
	background-color:#fff;
	font-size:11px;
	border:1px solid #ccc;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	-moz-box-shadow: 0 0 15px #666;
	-webkit-box-shadow: 0 0 15px #666;	
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {	
	padding:2px 0;
	height:22px;
} 

#caltitle {
	font-size:14px;
	color:#0150D1;	
	float:left;
	text-align:center;
	width:155px;
	line-height:20px;
	text-shadow:0 1px 0 #ddd;
	/* year/month selector */
	select {
		font-size:10px;	
	}
}

#calnext, #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url("images/prev.gif") no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

#calnext {
	background-image:url("images/next.gif");
	float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;	
}


/* names of the days */
#caldays {
	height:14px;
	border-bottom:1px solid #ddd;
	span {
		display:block;
		float:left;
		width:28px;
		text-align:center;
	}
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top:4px;
}

/* single week */
.calweek {
	clear:left;
	height:22px;
	/* single day */
	a {
		display:block;
		float:left;
		width:27px;
		height:20px;
		text-decoration:none;
		font-size:11px;
		margin-left:1px;
		text-align:center;
		line-height:20px;
		color:#666;
		-moz-border-radius:3px;
		-webkit-border-radius:3px; 	
		/* different states */
		&:hover, &.calfocus {background-color:#ddd;}	
		/* sunday */
		&.calsunday {
			color:red;		
		}
		/* offmonth day */
		&.caloff {
			color:#ccc;		
			&:hover {
				background-color:rgb(245, 245, 250);		
			}
		}	
		/* unselecteble day */
		&.caldisabled {
			background-color:#efefef !important;
			color:#ccc	!important;
			cursor:default;
		}
	} 
}

/* current day */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}

/*autocomplete*/
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	ul {
		width: 100%;
		list-style-position: outside;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		margin: 0px;
		padding: 2px 5px;
		cursor: default;
		display: block;
		/* 
		if width will be 100% horizontal scrollbar will apear 
		when scroll mode will be used
		*/
		/*width: 100%;*/
		font: menu;
		font-size: 12px;
		/* 
		it is very important, if line-height not setted or setted 
		in relative units scroll will be broken in firefox
		*/
		line-height: 16px;
		overflow: hidden;
	}
	}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
.company_menu{
	.selected {
		background-color: blue;
		color: white;
	}
}