@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/LayoutMember.cshtml";
    ViewBag.CombresScripts = "accounts";
}

@*intellisense support*@
@if (false)
{ 
    <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout-1.2.1.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout.mapping.js"></script> 
}
<h2>Accounts</h2>
        


