@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/LayoutMember.cshtml";
    ViewBag.CombresScripts = "accounts";
}

@*intellisense support*@
@if (false)
{ 
    <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout-1.2.1.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout.mapping.js"></script> 
}

<script type='text/javascript'>
    var getTransUrl = '@Url.Action("GetAccounts", "Accounts")';

    $(document).ready(function () {
        var viewModel = {
        };
            $.postErr(getTransUrl, function (res) {
                var mapping = {
                    'items': {
                        key: function (data) {
                            return ko.utils.unwrapObservable(data.Id);
                        }
                    }
                }
                viewModel = ko.mapping.fromJS(res, mapping);
                viewModel.selectedItem = ko.observable(null);
                ko.applyBindings(viewModel);
            });
    });

    
</script>

<h2>Accounts</h2>
<script id="accRowTemplate" type="text/html">
    <tr data-bind="click: function(event) { $item.current($data); }, css: {selected: $item.current() == $data}">
        <td data-bind="msDateTime: DateCreation"></td>
        <td data-bind="text: Number"></td>
        <td>
            <span data-bind="text: Balance"></span>
            <a href="#" data-bind="visible: $item.current() == $data, click: function(event) {viewModel.ShowEdit(event, $data);}">Edit</a>
        </td>
        <td data-bind="text: Currency"></td>
        <td data-bind="text: TypeName"></td>
    </tr>
</script>
<script type="text/html" id="accHeadTemplate">
    <tr>
    {{each(i, head) headItems()}}
        <th data-bind="attr: {colspan: Columns}, text: Text()"></th>
    {{/each}}
    </tr>
</script>
<div id="accountsGrid">
 <a href="#" @*data-bind="click: addItem"*@>Add Item</a>
    <table class='grid'>
        <thead data-bind='template: "accHeadTemplate"' >
        </thead>
        <tbody data-bind='template: { name: "accRowTemplate", foreach: items, templateOptions: { current: selectedItem } }'>
        </tbody>
    </table>
</div>