@model IEnumerable<Naviam.Data.Company>
    <ul class="left company_menu">
        @foreach (var item in @Model)
        {
            int? companyId = ViewBag.CurrentCompany;
            <li><a class='@( companyId == item.Id ? "selected" : "")'  href="@Url.Action("Index", "Transactions", new { cid = item.Id})">@item.BuinessName</a></li>
        }
    </ul>
