<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <appSettings>
    <!--enable log4net internal debug-->
    <!--<add key="log4net.Internal.Debug" value="true"/>-->
    <!--time in min-->  
    <add key="nbrb_rates_update_interval" value="60"/>
    <!--days count-->
    <add key="nbrb_rates_update_days" value="100"/>
    <!--start after ... in min-->
    <add key="nbrb_rates_start_after" value="0"/>
    <!--rates update url-->
    <!--<add key="nbrb_get_absent_dates_url" value="http://localhost:54345/Tech/ListDates"/>-->
    <add key="nbrb_get_absent_dates_url" value="http://minsk.servicechannel.com:81/Tech/ListDates"/>
    <!--rates update url-->
    <!--<add key="nbrb_update_url" value="http://localhost:54345/Tech/UpdateRates"/>-->
    <add key="nbrb_update_url" value="http://minsk.servicechannel.com:81/Tech/UpdateRates"/>
    <!--time in min-->
    <add key="cat_update_interval" value="60"/>
    <!--start after ... in min-->
    <add key="cat_start_after" value="0"/>
    <!--categories update url-->
    <!--<add key="cat_update_url" value="http://localhost:54345/Tech/UpdateMerchantsCategories"/>-->
    <add key="cat_update_url" value="http://minsk.servicechannel.com:81/Tech/UpdateMerchantsCategories"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExRatesSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.nbrb.by/Services/ExRates.asmx"
          binding="basicHttpBinding" bindingConfiguration="ExRatesSoap"
          contract="NBRBServiceReference.ExRatesSoap" name="ExRatesSoap" />
    </client>
  </system.serviceModel>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="navTechCenter" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
    <appender name="navTechCenter" type="log4net.Appender.RollingFileAppender">
      <file value="navTechCenter.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="WARN" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{MM/dd HH:mm:ss} %message%newline"/>
      </layout>
    </appender>

  </log4net>
</configuration>
