@using Naviam.WebUI.Resources

<script type="text/html" id="catEditSubTemplate">
{{each $data}}
{{if Id()!=null}} 
    <li>
        ${ Name() }
    </li>
{{/if}} 
{{/each}}
</script>

<table>
<tr>
<td width='50%'>
    <select data-bind="options: items, optionsText: 'Name', value: editItem" size="20"></select>
</td>
<td width='50%'>
    <ul data-bind="visible: editItem, template: { name: 'catEditSubTemplate', data: editItem() ? editItem().Subitems : null }"></ul>
</td>
</tr>
</table>
<div data-bind="visible: editItem">
<form data-bind="submit: AddSubitem">
    <label>@SharedStrings.AddCategory:</label>
    <input data-bind='value: catNameToAdd, valueUpdate: "keyup"' />
    <button type="submit" data-bind="enable: catNameToAdd() != ''">@SharedStrings.Add</button>
</form>
</div>
