@using Naviam.WebUI.Resources
@using Naviam.Data;
@{
    ViewBag.Title = SharedStrings.ReportsTitle;
    Layout = "~/Views/Shared/_LayoutWithSidebars.cshtml";
    ViewBag.CombresScripts = "reports";
}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
@*intellisense support*@
@if (false)
{ 
    <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout-1.2.1.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout.mapping.js"></script> 
    <script type="text/javascript" src="~/Scripts/common.js"></script> 
}

<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Category');
        data.addColumn('number', 'Amount');
        data.addRows(5);
        data.setValue(0, 0, 'Work');
        data.setValue(0, 1, 11);
        data.setValue(1, 0, 'Eat');
        data.setValue(1, 1, 2);
        data.setValue(2, 0, 'Auto');
        data.setValue(2, 1, 2);
        data.setValue(3, 0, 'Shopping');
        data.setValue(3, 1, 2);
        data.setValue(4, 0, 'Food & Dining');
        data.setValue(4, 1, 7);

        var chart = new google.visualization.PieChart($('#chart_div')[0]);
        chart.draw(data, { width: 450, height: 300, title: 'Spending by Category', is3D: true });
    }
</script>

<div id="chart_div"></div>

