@using Naviam.WebUI.Resources
@using Naviam.Data;
@{
    ViewBag.Title = SharedStrings.ReportsTitle;
    Layout = "~/Views/Shared/_LayoutWithSidebars.cshtml";
    ViewBag.CombresScripts = "reports";
}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

@*intellisense support*@
@if (false)
{ 
    <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout-1.2.1.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout.mapping.js"></script> 
    <script type="text/javascript" src="~/Scripts/common.js"></script> 
}

<script type='text/javascript'>
    var getReportsUrl = '@Url.Action("GetReport", "Reports")';
</script>

<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
</script>

<div id="chart_div"></div>

<div id='report_table'>


    <script type="text/html" id="r_currTemplate">
        <li data-bind="click: function(event) { $item.current($data.Id()); }, css: {selected: $item.current() == $data.Id()}">
            <a data-bind="text: NameShort" href='#'/>
        </li>
    </script>
    <ul data-bind="template: {name:'r_currTemplate', foreach:currencies, templateOptions: { current: request.selectedCurrency } }" class='currency'></ul>

    <script type="text/html" id="r_tableTemplate">
        <tr>
            @*<td><span data-bind="text: CategoryId"/></td>*@
            <td><span data-bind="text: CategoryName"/></td>
            <td><span data-bind="amount: Amount"/></td>
        </tr>
    </script>
    
    <table data-bind="template: {name:'r_tableTemplate', foreach:items }">
    </table>
    <b><span data-bind="amount: endAmount"/></b>
</div>

