@using Naviam.WebUI.Resources
@using Naviam.Data;
@{
    ViewBag.Title = SharedStrings.ReportsTitle;
    Layout = "~/Views/Shared/_LayoutWithSidebars.cshtml";
    ViewBag.CombresScripts = "reports";
}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

@*intellisense support*@
@if (false)
{ 
    <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout-1.2.1.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout.mapping.js"></script> 
    <script type="text/javascript" src="~/Scripts/common.js"></script> 
}

<script type='text/javascript'>
    var getReportsUrl = '@Url.Action("GetReport", "Reports")';
    google.load("visualization", "1", { packages: ["corechart"] });
</script>

<div id="rep_menu">
    <script type="text/html" id="r_menuTemplate">
        <li data-bind="click: function() { $item.current($data); }, css: {underline: $item.current() == $data}">
            <a data-bind="text: caption" href='#'/>
        </li>
    </script>
    <div style='float:left;margin: 0 10px 0 0;'>
        <ul data-bind="template: {name:'r_menuTemplate', foreach:menu, templateOptions: { current: selectedMenu } }">
        </ul>
    </div>
    <div style='float:left'>
        <ul data-bind="template: {name:'r_menuTemplate', foreach:selectedMenu() ? selectedMenu().subMenu : null, templateOptions: { current: selectedSubMenu } }">
        </ul>
    </div>
</div>
<div style="clear:both"></div>


<div id='report_page'>
<div>
    <a href="#"><img src="@Url.Content("~/Content/images/stats_pie.png")" data-bind="click: function() { graphType(0); }"/></a>
    <a href="#"><img src="@Url.Content("~/Content/images/stats_bars.png")" data-bind="click: function() { graphType(1); }"/></a>
</div>

<div id="chart_p"></div>
<div id="chart_b"></div>


    <script type="text/html" id="r_currTemplate">
        <li data-bind="click: function() { $item.current($data.Id()); }, css: {underline: $item.current() == $data.Id()}">
            <a data-bind="text: NameShort" href='#'/>
        </li>
    </script>
    <ul data-bind="template: {name:'r_currTemplate', foreach:currencies, templateOptions: { current: request.selectedCurrency } }" class='h_menu'></ul>
    <div style="clear:both"></div>

    <script type="text/html" id="r_tableTemplate">
        <tr>
            @*<td><span data-bind="text: Id"/></td>*@
            <td><span data-bind="text: Name"/></td>
            <td><span data-bind="amount: Amount"/></td>
        </tr>
    </script>
    
    <table data-bind="template: {name:'r_tableTemplate', foreach:items }" class='table'>
    </table>
    <b><span data-bind="amount: endAmount"/></b>
</div>

